/* CSS RESET  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* MY CSS */

:root {
  --primary-800: hsl(233, 47%, 7%);
  --primary-600: hsl(244, 38%, 16%);
  --primary-300: hsl(277, 64%, 61%);
  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsla(0, 0%, 100%, 0.75);
  --neutral-300: hsla(0, 0%, 100%, 0.6);
  --lexend: "Lexend Deca", sans-serif;
  --inter: "Inter", sans-serif;
}

body {
  background-color: var(--primary-800);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.header-img {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(170, 92, 219, 0.7);
  mix-blend-mode: multiply;
}

h1,
.text-wrapper p,
li strong {
  font-family: var(--inter);
}

h1 {
  color: var(--neutral-100);
  font-size: clamp(1.75rem, 1.662rem + 0.3756vw, 2rem);
  font-weight: 700;
  line-height: clamp(2rem, 1.7359rem + 1.1268vw, 2.75rem);
  margin-bottom: 1rem;
}

em {
  all: unset;
  color: var(--primary-300);
}

.main-text {
  color: var(--neutral-200);
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

li strong {
  color: var(--neutral-100);
  font-size: 1.5rem;
  font-weight: 700;
}

li p {
  color: var(--neutral-300);
  font-family: var(--lexend);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

li {
  list-style: none;
}

article {
  background-color: var(--primary-600);
  margin: 5.5rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  max-width: 69.375rem;
}

.text-wrapper {
  padding: 2.5rem 2rem 2rem 2rem;
  max-width: 35.625rem;
}

@media (min-width: 48rem) {
  article {
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
  }

  ul {
    flex-direction: row;
    justify-content: start;
  }

  .text-wrapper {
    padding: 4.4375rem 5.9375rem 3.6875rem 4.4375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
